<!DOCTYPE html>
<html>
<head>
	<title>Oval Ski Club</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application", :media => "all"%>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
	 <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
<script type="text/javascript">
$(document).ready(function () {
  $('#test').weatherfeed(['UKXX0085','EGXX0011','UKXX0061','CAXX0518','CHXX0049'],{},function(e) {
    $("div.scrollable").scrollable({ 
            vertical: true,  
            size: 1,
      circular: true
    }).navigator().autoscroll({
      interval: 3000
    });
  });
});
</script>

<style type="text/css">
        div.gallery img 
        {
        	border: solid 1px white;
        }
    </style>

<script language="javascript" type="text/javascript">
        $(function() {
            $('div.gallery img').slidingGallery({ useCaptions: true, container: $('div.gallery') });
        });
    </script>


<style>
    #galleria{ width: 700px; height: 400px; background: #000 }
</style>


<style type="text/css">

div.htmltooltip{
position: absolute; /*leave this and next 3 values alone*/
z-index: 100;
left: -1000px;
top: -1000px;
background: #272727;
border: 10px solid black;
color: white;
padding: 3px;
width: 300px; /*width of tooltip*/
}

</style>


	<%= csrf_meta_tags %>
	
 <% content_for :head,
auto_discovery_link_tag(:atom, 
articles_url(format: "atom")) %>


 <meta charset="UTF-8" />
        
       
        <meta name="description" content="Expereince Snow Like Never Before!" />
        <meta name="keywords" content="skiing, oval, ski, club, wirral, merseyside, snow" />
        <meta name="author" content="Michael Biggs" />
        <link rel="shortcut icon" href="../../assets/favicon.ico"> 
      
</head>


	 <div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="../../welcome/index"><img src="../../assets/osc.png" alt="Oval Ski Club"></a>
					<div class="container nav-collapse">
						<ul class="nav">
							<li class="">
								<a href="../../welcome/aboutus" accesskey="2">About Us</a>
							</li>
							<li class="">
								<a href="../../welcome/contactus" accesskey="3">Contact Us</a>
							</li>
							<li class="">
								<a href="../../events/index" accesskey="4">Social Events</a>
							</li>
							<li class="">
								<a href="../../articles/index" accesskey="5">Annoucements</a>
							</li>
							<li class="">
								<a href="../../welcome/club" accesskey="6">Club</a>
							</li>
							 <li class="">
								<a href="../../welcome/holiday " accesskey="7">Holiday</a>
							</li>
							<li class="">
								<a href="../../welcome/gallery " accesskey="8">Gallery</a>
							</li>
									 
							<li class"">
								<%if logged_in? %>
							 <%= link_to "Logout", logout_path %>
							</li>
							 <% else %>
							<% if active_user %>
						<%= link_to "Logout", signout_path, id: "sign_out" %>
							</li>
							<% else %>
							<%= link_to "Login", login_path %>
									<% end %>
							 <% end %>
								 </li>
						
						 
					</div>
				</div>
			</div>
		</div>
		<br></br>


<div class="container">


			<%= yield %>
	
					<hr>
			<div class="container">
			<div class="well">
		
			<center>
<div class"container">
	<div id="user_nav">

 	<% if active_user %>
		Signed In! Welcome<strong> <p><%= active_user.name %></p></strong>
		<button class="btn"><%= link_to "Logout", signout_path, id: "sign_out" %><Middle</button>
	<% else %>
		<%if logged_in? %>
			Signed In! Welcome<strong> <%= current_user.username.capitalize %></strong>
			<button class="btn"> <%= link_to "Logout", logout_path %><Middle</button>
	<%else%>
			<button class="btn"><%= link_to "Login", login_path %><Middle</button>
	<% end %>
		<%end%>

	</div>
</div>

								 

								 
					 <footer>
						<center>
						<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/groups/2256597544/"
				scrolling="no" frameborder="0"
				style="border:none; width:200px; height:30px"></iframe>
		 
				<a href="https://twitter.com/OvalSkiClubTEST" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @OvalSkiClubTEST</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				<p><%= link_to "Home", root_path %>|<a href="../../welcome/aboutus" accesskey="2">About Us</a>|<a href="../../welcome/contactus" accesskey="3">Contact Us</a>|<a href="../../events/index" accesskey="4">Social Events</a>|<a href="../../annoucements/index" accesskey="5">Annoucements</a>|<a href="../../welcome/club" accesskey="6">Club</a>|<a href="../../welcome/holiday " accesskey="7">Holiday</a>|<a href=".././tags/index" accesskey="9">Index</a><br/>
					<%= link_to image_tag('feed-icon-orange.png'), events_url(format: :rss) %>
					<%= link_to image_tag('feed-icon-blue.png'), events_url(format: :atom) %>
					<%= link_to image_tag('feed-icon-green.png'), events_url(format: :json) %></p>
				<p>  &copy; Oval Ski Club, Oval Sports Centre, Bebington, Wirral, Liverpool, Merseyside, CH63 7LF</p>
				<p>By Michael Biggs</p> 



			</footer>
	


<INPUT NAME="reset" TYPE="BUTTON" VALUE="Reset Counter" OnClick="ResetCounts()">
	  </center>
	</body>
</div>
</div>
</html>
	<!-- Placed at the end of the document so the pages load faster -->
			<!-- jQuery via Google + local fallback, see h5bp.com -->
					<script src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
								<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
					<script>window.jQuery || document.write('<script src="assets/js/jquery-1.7.2.min.js"><\/script>')</script>
					<script src="http://connect.facebook.net/en_US/all.js"></script>


