<%= form_for @event, :html => { :multipart => true } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="well">
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  </div>
    </div>

  <div class="container">
  <div class="well">
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  </div>
    </div>
    <div class="container">
  <div class="well">
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  </div>
    </div>
   <!--  <div class="newPaperclipFiles">
        <%= f.fields_for :assets do |asset| %>
              <% if asset.object.new_record? %>
                 <%= asset.label :image, "Attach an Image" %><br />
                 <%= asset.file_field :image %>
           <% end %>
       <% end %>
</div>

<div class="existingPaperclipFiles">
       <% f.fields_for :assets do |asset| %>
           <% unless asset.object.new_record? %>
               <%= image_tag asset.object.image.url(:thumb) %></br>
               <%= asset.label :image, "Attach an Image" %><br />
               <%= asset.file_field :image %>
          <% end %>        
     <% end %> -->
  <div class="container">
  <div class="well">
  <div class="actions">
    <%= f.submit %>
    <% end %>
  </div>
  </div>
    </div>

