

<div class="container">
      <div class="well">
     <div class="leaderboard">     
        <h1>Social Events</h1>
       </div>
    </div>
  </div>
           <!-- Carousel of pictures -->
    
<div class="container">
 <div class="well">
  <%= form_tag events_path, :method => :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

</div>
</div>
<div class="container">
  <div class="well">
<ul>
    <div id ="eventss">
<% for event in @events %>
  
    <li>
    <h3 rel="htmltooltip"><%= link_to event.title, event %></h3> 
    <div class="htmltooltip"><%= event.description %></div>

      <span class="badge badge-success"><%= event.created_at.strftime("%m/%d/%Y %H:%M")%></span>
    <span class="badge badge-label"><%= event.updated_at.strftime("%m/%d/%Y %H:%M")%>
    </span>
  </br>
    <table>
      </br>
      <tr>
    
    <% if logged_in? %>
    <td><%= button_to 'Edit', edit_event_path(event), :id => "open-contacts-dialog-btn",:class => "inbox-sf-add-btn tip", :method => :get %></td>
    <td><%= button_to 'Destroy', event,:id => "open-contacts-dialog-btn",:class => "inbox-sf-add-btn tip", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
      <% end %>
     </tr></table>
<% end%>
 <% if logged_in? %>
<%= button_to 'New Event', new_event_path,:id => "open-contacts-dialog-btn",:class => "inbox-sf-add-btn tip", :method => :get %>
<% else %>
 <% end %>
</div>
<br/>
</div>
</div>

<div class="container">
  <div class="well">
  <ul>For more information of any of the following you can contact our Social Sec: Jane by phone on either 0151 6084575 or 07963 906979, or email via jane.croft1@ntlworld.com</ul>

</div>
</div>
